*.C++ linguist-detectable=false
*.CMake linguist-detectable=false
*.Ruby linguist-detectable=false
*.Swift linguist-detectable=false
*.Kotlin linguist-detectable=false
*.Other linguist-detectable=false
